<div class="container">
  <h2>Listado de Héroes</h2>
  <div class="hero-list">
    <div *ngFor="let heroe of heroes" class="hero-card">
      <img [src]="heroe.imagenUrl" alt="Imagen de {{ heroe.nombreHeroe }}" />
      <div class="hero-details">
        <h3>{{ heroe.nombreHeroe }}</h3>
        <p><strong>Nombre Real:</strong> {{ heroe.nombreReal }}</p>
        <p><strong>Superpoderes:</strong> {{ heroe.superpoderes }}</p>
        <p><strong>Lugar de Nacimiento:</strong> {{ heroe.lugarNacimiento }}</p>
        <button (click)="verDetalle(heroe.id)">Ver Detalle</button>
        <button (click)="eliminarHeroe(heroe.id)">
          Eliminar de la Escuela
        </button>
      </div>
    </div>
  </div>
  <button routerLink="/formulario">Inscribir Nuevo Héroe</button>
</div>
