.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.hero-card {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

.hero-details {
  flex-grow: 1;
}

button {
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}
