/* You can add global styles to this file, and also import other style files */
button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  margin: 0;
  font-size: 1.5rem;
}

.title a i {
  font-size: 1.2rem;
  color: #000; /* Cambia el color del ícono según tus preferencias */
  text-decoration: none;
  margin-right: 10px; /* Ajusta el margen entre el ícono y el título según tus preferencias */
}